.pdf-page canvas {
  box-shadow: 0 0 4px rgba(0,0,0,.15);
}
/* This applies the not-allowed cursor to the entire rendered PDF */
.eraser-mode .react-pdf__Page,
.eraser-mode .react-pdf__Page * {
  cursor: not-allowed !important;
}
.eraser-mode {
  user-select: none;
}
