

body{

        margin: 0; /* Removes default spacing */
  background-image: url('./images/soft1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;

 
}


/* PDF Viewer Premium Style */
body.pdf-viewer-bg {

  background: radial-gradient(circle at top left, #eef2ff, #e0e7ff);


  background-size: cover;
  background-attachment: fixed;
  transition: background 0.4s ease;
}